body{
	margin-left: 20%;
	margin-right:20%;

}

.display_menu{
	position:absolute;
	left:90px;
	border-style: solid;
    border-width: 1px;
    width:150px;
    padding:10px;

}

.content{
	position:absolute;
	left:300px;
}

#register{
	width:700px;
}

.title1{
text-align:center;
font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}

.display_errors{
	color:red;
}
